<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
<table id="patients-table" class="table table-striped table-bordered" style="width:100%">
  <thead>
  <tr>
    <th class="text-center" scope="col">#</th>
    <th class="text-center" scope="col">Name</th>
    <th class="text-center" scope="col">RNC</th>
   
    <th class="text-center" scope="col">Read / Update / Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for patient in clinics %}
    <tr>
      <th class="text-center" scope="row">{{ forloop.counter }}</th>
      <th class="text-center">{{ patient.name}}</th>
      <td class="text-center">{{ patient.rnc }}</td>
      

      <td class="text-center">
        
        <button type="button" class="read-clinic btn btn-sm btn-primary" data-form-url="{% url 'read_clinic' patient.pk %}">
          <span class="fa fa-eye"></span>
        </button>
       
        {% if perms.DentalClinic.update_clinic %}
        <button type="button" class="update-clinic btn btn-sm btn-primary" data-form-url="{% url 'update_clinic' patient.pk %}">
          <span class="fa fa-pencil"></span>
        </button>
        {% endif %}
       
        {% if perms.DentalClinic.delete_clinic %}
        <button type="button" class="delete-clinic  btn btn-sm btn-danger" data-form-url="{% url 'delete_clinic' patient.pk %}">
          <span class="fa fa-trash"></span>
        </button>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  
  </tbody>
</table>