{% load static %}
<div class="">
  <!-- Footer -->
  

<footer style="border-bottom: 1px solid #071308;background-color: rgba(8, 122, 175, 0.952);">
    
    <div class="ubicacion-row footer-nav">
        <li class="nav-item active">
            <img src="{% static 'assets/img/appoimtment.jpeg'%}" width="100" height="50">
        </li>   

    <ul class="ubicacion-row">
        <li>
            <h2>
                <p class="texto-footer">
                    United Dentists
                </p>
            </h2>
     
        </li>
        
    </ul>
        <a href="#">NUESTROS LUGARES</a>
        <a href="#conocimientos">PROFESIONALES</a>
        <a href="#proyectos">TRATAMIENTOS</a>
        <a href="#proyectos">CONSEJOS</a>
        <a href="#contacto">CONTACTO</a> 
    </div>
  
    <div class="footer-redes">
        <ul class="ubicacion-row">
            
            <p class="texto-footer">
                United Dentists.SRL
            </p>
         
        </ul>
    </div> 
    
</footer>
  <!-- Footer -->
</div>
<!-- End of .container -->