{% load widget_tweaks %}
{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}
<form method="post" action="{% url 'update_appointment' object.pk %}" id="AppointmentModelForm" data-dentists-url="{% url 'ajax_load_dentists' %}" class="formulario-portfolio" novalidate>
 
  {% csrf_token %}
<div class="modal-header">
    <h3 class="modal-title">Update Appointments</h3>
    
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 
</div>

<div class="modal-body">
 
 
 
 
  <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>

  {% for field in form %}

    <div class="form-group">
     
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% render_field field class="form-control" placeholder=field.label %}
      <div class="{% if field.errors %} invalid{% endif %}">
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
    
    
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" id="miBoton" >Calendar</button> <button type="submit" class="btn btn-primary" >Update</button>
</div>
</form>
  <script>
    $("#id_clinic").change(function () {
      var url = $("#AppointmentModelForm").attr("data-dentists-url");  // get the url of the `load_cities` view
      var clinicId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'clinic': clinicId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_dentist").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
      
    });
  </script>
<script>
  $("#AppointmentModelForm").submit(function (event) {
    event.preventDefault();  // Evita el envío del formulario tradicionalmente.

    var url = $(this).attr("data-dentists-url");
    var formData = $(this).serialize();

    $.ajax({
      type: "POST",
      url: $(this).attr("action"),
      data: formData,
      success: function (data) {
        // Lógica para manejar la respuesta del servidor después de la actualización.
      },
      error: function (error) {
        // Lógica para manejar los errores si la actualización falla.
      }
    });
  });
</script>
